.reviews-admin {
  width: 33vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8888;

  @media (max-width: 1050px) {
    width: 100%;
    height: 30vh;
  }

  &__header {
    margin: 1vw;
  }

  &__container {
    width: 31vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #555;

    @media (max-width: 1050px) {
      width: 94vw;
    }
  }
}
