.farmer__profile__gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;

  @media (max-width: 1050px) {
    flex-direction: column;
  }

  &--img {
    width: 30vw;

    img {
      //border: 1px solid red;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media (max-width: 1050px) {
      width: 40vw;
    }
  }
}
