.admin__painel__gallery {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  font-weight: normal;
  width: 19rem;
  height: 15rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s ease;

    &:hover {
      filter: brightness(50%);
      opacity: 0.95;
    }
  }

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    color: rgb(240, 234, 234);
    z-index: 5;
    width: 65%;
    display: flex;
    align-items: center;
    pointer-events: none;
    justify-content: space-around;

    li {
      width: auto;
      display: flex;
      align-items: center;

      svg {
        font-size: 4rem;
      }
    }
  }
}
