.panel__profile {
  margin-top: 8vh;
  width: 96vw;
  min-height: 92vh;
  height: auto;
  margin-left: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;

  @media (max-width: 1050px) {
    flex-direction: column;
    height: 100%;
  }

  &__wrapper {
    margin: 2vh 0;
    width: 75%;
    background-color: #f9f9f9;
  }

  &__biography {
    padding: 15vh 0;
    background-color: #f9f9f9;
    display: flex;

    &__info {
      display: flex;
      justify-content: center;
      width: 250px;
      margin-left: 2.5vh;
      //border: 1px solid red;
    }

    &__text {
      margin: 0 2rem;
      flex: 1;
    }
  }

  hr {
    margin: 1rem auto;
    width: 95%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__gallery {
    display: flex;
    padding-bottom: 2rem;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 1050px) {
      flex-direction: column;
    }

    &--img {
      width: 20vw;

      @media (max-width: 1050px) {
        width: 40vw;
      }
    }
  }
}

.header__profile {
  height: 40vh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__avatar {
    position: absolute;
    left: 2.5vh;
    top: 25vh;
    //border: 1px solid red;

    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    font-weight: normal;
    width: 250px;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: filter 0.5s ease;
      border-radius: 50%;

      &:hover {
        filter: brightness(50%);
        opacity: 0.95;
      }
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.5rem;
      color: #fff;
      z-index: 1;
      width: 65%;
      display: flex;
      align-items: center;
      pointer-events: none;
      justify-content: space-around;

      li {
        width: auto;
        display: flex;
        align-items: center;
        h2 {
          margin-left: 0.6rem;
        }
      }
    }

    @media (max-width: 1050px) {
      margin: 0 auto;
    }
  }
}
