.authentication-modal {
  width: 60vw;
  height: 70vh;
  position: fixed;
  top: 15vh;
  left: 20vw;
  right: 10vw;
  bottom: 20vh;
  border: none;
  background-color: #fff;
  display: flex;
  @media only screen and (max-width: 900px) {
    width: 90vw;
    top: 20vh;
    left: 5vw;
    right: 10vw;
    bottom: 20vh;
  }
  @media only screen and (max-width: 500px) {
    width: 90vw;
    height: 90vh;
    top: 5vh;
    left: 5vw;
    right: 10vw;
    bottom: 5vh;
    flex-direction: column;
  }
  outline: none;

  &--overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--modal-overlay);
    border: none;
    z-index: 9999;
  }
}
