.admin-panel__sidebar {
  width: 4rem;
  margin-top: 8vh;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 1001;

  &-item {
    width: 4rem;
    padding: 1.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #606060;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(153, 153, 153, 0.1);

    &--active {
      background-color: #e5e5e5;
      width: 4rem;
    }

    &__icon {
      color: var(--header);
      font-size: 1.6rem;
    }

    &:hover {
      background-color: #f2f2f2;
    }

    p {
      margin-top: 1rem;
      text-transform: capitalize;
    }
  }
}
