$sub-color: #909090;
$main-color: #f75d37;

@mixin shrinkLabel {
  top: -2rem;
  font-size: 1.2rem;
  color: $main-color;
}

.group {
  position: relative;
  margin: 4.5rem 0;
  height: 2rem;

  .form-input {
    background: none;
    background-color: inherit;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
      background-color: transparent;
    }

    &:valid {
      background-color: transparent;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }

    &::placeholder {
      background-color: transparent;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
