
// ************* FLEX BOX VERSION *****
.hero-class {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .hero-component {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    &:after {
      content: '';
      background-image: url('./hero.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      opacity: 0.9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
    @media (max-width: 1800px) {
      &:after {
        left: 10rem;
      }
    }
    @media (max-width: 1600px) {
      &:after {
        background-size: 80%;
        opacity: 0.9;
        left: 20rem;
      }
    }
    @media (max-width: 1300px) {
      &:after {
        opacity: 0.9;
      }
    }
    @media (max-width: 900px) {
      &:after {
        opacity: 0.2;
        background-size: 80%;
        top: 0;
        left: 0;
        bottom: 10rem;
        right: 0;
        position: absolute;
        z-index: -1;
      }
    }
    @media (max-width: 700px) {
      &:after {
        background-size: 90%;
      }
    }
    header {
      width: 100%;
      height: 6rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .hero-component__header {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .hero-component__header__button {
          color: #1e5b45;
          font-weight: bold;
          &:hover {
            color: #52a47e;
          }
        }
        @media (max-width: 1300px) {
          width: 25rem;
        }
      }
    }

    &__main {
      width: 40%;
      height: 90%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 3rem;
      @media (max-width: 1200px) {
        align-items: flex-start;
        margin-top: 5rem;
      }
      @media (max-width: 900px) {
        width: 90%;
        height: 80vh;
        align-items: flex-end;
      }
      @media (max-width: 600px) {
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        margin-top: 3rem;
      }
      @media (max-height: 700px) {
        height: 70%;
      }

      &__text-component {
        width: 50rem;
        height: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @media (max-width: 1600px) {
          width: 40rem;
          height: 35rem;
        }
        @media (max-width: 1200px) {
          width: 35rem;
          height: 35rem;
        }
        @media (max-width: 1000px) {
          width: 40rem;
          // height: 30rem;
        }
        @media (max-width: 900px) {
          width: 90%;
        }

        p {
          font-size: 6vw;
          font-family: 'Nothing You Could Do', cursive;
          font-weight: bold;
          justify-content: center;
          color: #f7b53a;

          @media (max-width: 900px) {
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.582);
            width: fit-content;
            font-size: 5rem;
          }
          @media (max-width: 700px) {
            text-align: center;
          }
          @media (max-width: 600px) {
            font-size: 4rem;
          }
          span {
            display: block;
            font-size: 8vw;
            text-align: center;
            @media (max-width: 700px) {
              font-size: 4rem;
            }
          }
        }
        &--sub-heading {
          width: 33vw;
          text-align: center;
          color: #404040;
          font-size: 1.3rem;

          @media (max-width: 1300px) {
            width: 27vw;
          }
          @media (max-width: 900px) {
            width: 60%;
            font-size: 1.5rem;
            color: rgb(51, 49, 49);
          }

          @media (max-width: 700px) {
            width: 90%;
          }
          @media (max-width: 700px) {
            font-size: 1.2rem;
          }
        }

        &--button {
          width: 80%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
