.panel-profile__gallery__image {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  width: 30%;
  height: 15rem;
  @media (max-width: 1050px) {
    width: 60vw;
    margin: 1rem 0;
  }
  @media (max-width: 650px) {
    width: 80vw;
    margin: 1rem 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s ease;
    &:hover {
      filter: brightness(50%);
      opacity: 0.95;
    }
  }

  div {
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    color: rgb(240, 234, 234);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    pointer-events: none;

    li {
      width: auto;
      display: flex;
      align-items: center;

      svg {
        font-size: 4rem;
      }
    }
  }
}
