.settings__page__item__wrapper {
  padding-top: 3rem;

  &--header {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  &--sub {
    margin-bottom: 0.5rem;
  }

  &__header {
    font-size: 1rem;
  }

  hr {
    margin-bottom: 2rem;
    width: 80%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  h3 {
    margin-bottom: 2rem;
    @media (max-width: 850px) {
      margin-bottom: 1rem;
    }
  }

  &__item {
    &--theme {
      //border: 1px solid red;
      height: 5rem;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        .green {
          background-color: var(--primary-green);
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          opacity: 0.5;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }

        .active{
          opacity: 1;
        }

        .red {
          background-color: var(--primary-red);
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          opacity: 0.5;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }

        .active{
          opacity: 1;
        }

        .brown {
          background-color: var(--primary-brown);
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          opacity: 0.5;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }

        .active{
          opacity: 1;
        }
      }
    }
    &--settings {
      display: flex;
      margin-bottom: 1rem;
      margin-left: 4rem;
      @media (max-width: 850px) {
        margin-left: 1rem;
      }
      .text {
        margin-left: 1rem;
        p {
          margin: 0;
        }
        p:last-of-type {
          color: #666666;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.toggle-switch {
  margin-top: 5px;
}

.toggle-switch input[type='checkbox'] {
  display: none;
}
.toggle-switch label {
  cursor: pointer;
}

.toggle-switch label .toggle-track {
  display: block;
  height: 14px;
  width: 40px;
  background: #eee;
  border-radius: 20px;
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.toggle-switch .toggle-track:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #7e7e7e;
  border-radius: 20px;
  position: absolute;
  top: -4px;
  right: 20px;
  transition: right 0.2s ease-in;
}

.toggle-switch input[type='checkbox']:checked + label .toggle-track:before {
  background: var(--header);
  right: 0px;
}
