@import '../../../scss/variables';

.test__farmer-svg {
  width: 25rem;
}

.story {
  // ======== HERO (GO TO SHOP) ===
  &__hero-section {
    margin-top: 10vh;

    &--header {
      margin: 5vh;
      font-size: 2rem;
      text-align: center;
      line-height: 4;
      height: 5vh;
      // margin-top: 10vh;
    }

    &__img-container {
      width: 55vw;
      transform: translateX(40%);
      @media (max-width: 1050px) {
        transform: translate(0);
        width: 100vw;
      }
      &--img {
        width: 100%;
      }
    }

    &__banner {
      padding: 1vh;
      width: 55vw;
      display: flex;
      justify-content: space-evenly;
      transform: translate(50%, -50%);
      background: #eee;
      @media (max-width: 1050px) {
        width: 91vw;
        transform: translate(5%, -20%);
      }
      @media (max-width: 640px) {
        align-items: flex-start;
        flex-direction: column;
      }

      &__text-container {
        margin: 1vh;
        padding: 2vh;
        width: 33%;
        @media (max-width: 640px) {
          width: 95%;
        }
        &:not(:last-child) {
          padding-right: 2vh;
          border-right: 1px solid black;
          @media (max-width: 640px) {
            padding-right: 0;
            border-right: none;
            padding-bottom: 2vh;
            border-bottom: 1px solid black;
          }
        }

        &--header {
          margin-bottom: 1vh;
          @media (max-width: 1150px) {
            font-size: 1.4rem;
          }
          @media (max-width: 460px) {
            font-size: 1.2rem;
          }
        }

        &--text {
          @media (max-width: 460px) {
            font-size: 0.9rem;
          }
        }
      }
    }

    &__button {
      margin-top: -10vh;
      text-align: center;
      @media (max-width: 1050px) {
        margin-top: 0;
      }
      @media (max-width: 650px) {
        margin-top: -10vh;
      }
    }
  }

  // ======== INFO (GO TO FARMER) ===
  &__info-section {
    margin: 5vh 0;
    padding: 5vh 0;
    display: flex;
    background: #eee;
    @media (max-width: 1050px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    &__left-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      @media (max-width: 1050px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__text-container {
        width: 24vw;
        margin: 1vh;
        padding: 1vh 8vh 1vh 1vh;
        @media (max-width: 1250px) {
          padding: 1vh 2vh 1vh 1vh;
        }
        @media (max-width: 1050px) {
          width: 60vw;
          margin: 0 0 2vh 0;
        }
        @media (max-width: 900px) {
          padding: 0;
        }

        &--header {
          font-size: 1.8rem;
          margin-bottom: 1vh;
          @media (max-width: 1050px) {
            text-align: center;
          }
        }

        &--text {
          @media (max-width: 1050px) {
            text-align: center;
          }
        }

        &--button {
          margin: 1vh 0 0 -1vh;
          @media (max-width: 1050px) {
            text-align: center;
            margin: 1vh 0;
          }
        }
      }

      &__img-container {
        width: 24vw;
        margin: 0 3vh 3vh 0;
        @media (max-width: 1050px) {
          width: 60vw;
          margin: 0 0 3vh 0;
        }
        &--img {
          width: 100%;
        }
      }
    }

    &__right-container {
      width: 50%;
      @media (max-width: 1050px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      // --- image top ---
      &__img-container-1 {
        width: 38vw;
        margin-bottom: 3vh;
        @media (max-width: 1050px) {
          width: 60vw;
        }
        &--img {
          width: 100%;
        }
      }

      // --- images bottom ---
      &__img-container-2 {
        width: 28vw;
        @media (max-width: 1050px) {
          width: 60vw;
        }
        &--img {
          width: 100%;
        }
      }
    }
  }
}
