@import '../../../scss/variables';

.test__farmer-svg {
  width: 25rem;
}

.story {
  // ======== HERO (GO TO SHOP) ===
  &__hero-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--header {
      font-size: 2.7rem;
      text-align: center;
      // height: 10vh;
      //margin-top: 5rem;
      color: #1e5b45;
      @media (min-width: 1480px) {
        margin-top: 10rem;
        font-size: 2.5rem;
      }
      @media (max-width: 600px) {
        margin-top: 3vh;
      }
    }

    &__img-container {
      width: 50vw;
      margin-top: 5vh;
      transform: translateX(45%);
      @media (max-width: 1050px) {
        transform: translate(5%);
        width: 90%;
      }
      &--img {
        width: 100%;
        border-radius: 10px;
        @media (max-width: 400px) {
          width: 90%;
          transform: translateX(6%);
        }
      }
    }

    &__banner {
      width: 55vw;
      display: flex;
      justify-content: space-evenly;
      transform: translate(50%, -50%);

      @media (max-width: 1050px) {
        width: 91vw;
        transform: translate(5%, -20%);
      }
      @media (max-width: 640px) {
        align-items: flex-start;
        flex-direction: column;
      }

      &__text-container {
        height: 12rem;
        width: 15rem;
        margin: 0.5vh 1vh;
        padding: 2vh 2vh;
        background-color: #ffffff;
        box-shadow: 0 12px 16px -8px rgba(119, 119, 119, 0.486);
        border-radius: 10px;
        & > * {
          text-align: justify;
        }
        @media (min-width: 1450px) {
          width: 17rem;
        }
        @media (max-width: 700px) {
          height: 14rem;
        }
        @media (max-width: 640px) {
          width: 95%;
        }
        @media (max-width: 640px) {
          padding-right: 0;
          border-right: none;
          padding-bottom: 2vh;
          height: 8rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
        }
        @media (max-width: 370px) {
          justify-content: space-between;
        }

        &--header {
          text-align: center;
          @media (max-width: 1150px) {
            font-size: 1.4rem;
          }
          @media (max-width: 460px) {
            font-size: 1.2rem;
          }
        }

        &--text {
          text-align: center;
          color: #404040;
          @media (max-width: 460px) {
            font-size: 0.9rem;
            margin-right: 1rem;
          }
        }
      }
    }

    &__button {
      margin-top: -6vh;
      text-align: center;
      @media (max-width: 1050px) {
        margin-top: 0;
      }
      @media (max-width: 650px) {
        margin-top: -8vh;
      }
    }
  }

  // ======== INFO (GO TO FARMER) ===
  &__info-section {
    width: 100%;
    height: 100vh;
    margin: 5vh 0;
    padding: 5vh 0;
    display: flex;
    @media (max-width: 1050px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: fit-content;
      margin-top: 10rem;
    }
    @media (max-width: 600px) {
      margin-top: 2rem;
    }

    &__left-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;
      margin-right: 5vw;
      @media (max-width: 1050px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 95%;
        margin-right: 0;
      }

      &__text-container {
        width: 24vw;
        height: 30vh;
        margin: 1vh;
        padding: 1vh 8vh 1vh 1vh;
        display: block;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        &--text {
          color: #404040;
        }
        &:after {
          content: '';
          background-image: url(/images/farmer-svgrepo-com.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;
          opacity: 0.4;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
        }
        @media (max-width: 1250px) {
          padding: 1vh 2vh 1vh 1vh;
          display: flex;
          justify-content: space-evenly;
          align-items: flex-start;
          &:after {
            background-position: right;
          }
        }
        @media (max-width: 1050px) {
          width: 95%;
          margin: 0 0 2vh 0;
        }
        @media (max-width: 800px) {
          padding: 0;
          &:after {
            opacity: 0.2;
          }
          @media (max-width: 640px) {
            min-width: 90%;
            height: 25rem;
            justify-content: space-evenly;
            &:after {
              background-size: contain;
            }
            padding-left: 1rem;
          }
          @media (max-width: 400px) {
            // text-align: left;
            // margin: 1vh 0;
            min-width: 18rem;
            height: 25rem;
            justify-content: space-evenly;
            &:after {
              background-size: contain;
            }
          }
        }

        &--header {
          font-size: 1.8rem;
          margin-bottom: 1vh;
          @media (max-width: 1050px) {
            text-align: left;
          }
        }

        &--text {
          @media (max-width: 1050px) {
            text-align: left;
            width: 20rem;
          }
          @media (max-width: 508px) {
            width: 15rem;
          }
        }

        &--button {
          margin: 1vh 0 0 -1vh;
          @media (max-width: 1050px) {
            text-align: left;
            margin: 1vh 0;
          }
        }
      }

      &__img-container {
        width: 24vw;
        margin: 0 3vh 3vh 0;
        @media (max-width: 1050px) {
          width: 95%;
          margin: 0 0 3vh 0;
        }
        @media (max-width: 640px) {
          min-width: 90%;
        }
        @media (max-width: 400px) {
          min-width: 18rem;
        }
        &--img {
          width: 100%;
        }
      }
    }

    &__right-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      @media (max-width: 1050px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
      }

      // --- image top ---
      &__img-container-1 {
        width: 38vw;
        margin-bottom: 3vh;
        @media (max-width: 1050px) {
          width: 95%;
        }
        @media (max-width: 640px) {
          min-width: 90%;
        }
        @media (max-width: 400px) {
          min-width: 18rem;
        }
        &--img {
          width: 100%;
        }
      }

      // --- images bottom ---
      &__img-container-2 {
        width: 28vw;
        @media (max-width: 1050px) {
          width: 95%;
        }
        @media (max-width: 640px) {
          min-width: 90%;
        }
        @media (max-width: 400px) {
          min-width: 18rem;
        }
        &--img {
          width: 100%;
        }
      }
    }
  }
}
