.cart-edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-4);
  width: min(var(--content-max), calc(100% - (var(--section-pad-x) * 2)));
  margin: calc(var(--nav-height) + var(--space-5)) auto var(--space-6);
  min-height: 70vh;
  padding-bottom: var(--space-5);
  background-image: url('goodie-box.jpg');
  background-position: right bottom;
  background-size: 25%;
  background-repeat: no-repeat;
  @media (max-width: 800px) {
    margin-top: calc(var(--nav-height) + var(--space-4));
    min-height: auto;
    background-size: 65%;
  }
  @media (max-width: 500px) {
    background-image: none;
  }

  /// this is to prevent redirecting on a click outside the button
  .back-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f75d37;
    width: fit-content;
    .fa-angle-left {
      font-size: 2rem;
      margin-right: 0.7rem;
    }
    @media (max-width: 500px) {
      width: fit-content;
    }
  }
  .cart-title {
    margin: 0;
  }
  ul {
    height: min(50vh, 32rem);
    margin: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 4px; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
    &::-webkit-scrollbar-thumb {
      background: #00000093;
    }
    @media (max-width: 800px) {
      width: 100%;
      margin: 0;
    }

    // @media (min-width: 800px) and(max-width: 2600px) {
    //   overflow: hidden;
    //   &:hover {
    //     overflow-y: scroll;
    //     scroll-behavior: smooth;
    //   }
    //   &::-webkit-scrollbar {
    //     width: 4px; /* Remove scrollbar space */
    //     background: transparent; /* Optional: just make scrollbar invisible */
    //   }
    //   /* Optional: show position indicator in black in case width is > 0 */
    //   &::-webkit-scrollbar-thumb {
    //     background: #00000093;
    //   }
    // }

    li {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      @media (max-width: 800px) {
        width: 100%;
        justify-content: space-evenly;
        min-height: 5rem;
        align-items: center;
      }
      // border: 0px transparent solid;
      &:not(:first-child) {
        border-radius: 10px;
        box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.486);
        -webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.486);
        -moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.486);
      }

      & > * {
        width: 22%;
        min-height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(2) {
          display: flex;
          justify-content: space-between;
          @media (max-width: 800px) {
            min-width: 10rem;
            justify-content: center;
          }
        }
        @media (max-width: 800px) {
          &:first-child {
            min-width: 6rem;
          }
        }
      }
      .decrease-button,
      .increase-button {
        font-size: 1.5rem;
        border: none;
        background-color: transparent;
        margin: 0 0.9rem;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .empty-cart {
      height: 7vh;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .total-price {
    text-align: left;
    display: block;
    margin-left: 0;
    font-weight: bold;
    font-size: 1.1rem;
    @media (max-width: 800px) {
      margin-top: var(--space-2);
      margin-left: 0;
    }
  }
  .checkout-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
    width: fit-content;
    @media (max-width: 500px) {
      flex-wrap: wrap;
      width: 100%;
    }
  }
}

//this is the  back icon
.fa-angle-left {
  margin-right: 0.7rem;
}
