.cart-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4vw;
  margin-top: 8rem;
  height: 80vh;

  /// this is to prevent redirecting on a click outside the button
  a {
    width: fit-content;
    .custom-button {
      width: 20rem;

      // margin: 0 5rem 2rem 5rem;
    }
  }
  .cart-title {
    margin: 2vh 4vw;
  }
  .cart-list {
    height: 50vh;
    margin: 3vh 10vw;
    overflow: hidden;
    &:hover {
      overflow-y: scroll;
      scroll-behavior: smooth;
    }
    &::-webkit-scrollbar {
      width: 4px; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in black in case width is > 0 */
    &::-webkit-scrollbar-thumb {
      background: #00000093;
    }

    li {
      width: 75vw;
      list-style: none;
      display: flex;
      justify-content: space-between;
      // border: 0px transparent solid;
      &:not(:first-child) {
        border-radius: 10px;
        box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.486);
        -webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.486);
        -moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.486);
      }

      & > * {
        width: 10vw;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: center;
        // vertical-align: bottom;
      }
      .decrease-button,
      .increase-button {
        font-size: 1.5rem;
        border: none;
        background-color: transparent;
        margin: 0 2rem;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .empty-cart {
      height: 7vh;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .total-price {
    text-align: right;
    margin-right: 12vw;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

//this is the  back icon
.fa-angle-left {
  margin-right: 4rem;
}
