.fa-arrow-circle-up {
  position: fixed;
  bottom: 4vh;
  right: 4vw;
  font-size: 3.5rem;
  z-index: 9999;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
  @media only screen and (max-width: 500px) {
    left: 80%;
  }
}
