.carousel-container {
  width: 100%;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.find-farmer {
  &__header {
    text-align: center;
    margin: 5rem 0 2rem;
    padding: 2rem;
    font-size: 2rem;
  }

  &__container {
    &__item {
      width: 30rem;
      height: 20rem;
      margin: 2vh;
      box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
      background: #eee;
      border-radius: 5px;
      position: relative;
      @media (max-width: 550px) {
        width: 20rem;
        height: 15rem;
      }

      &__bg-image-container {
        width: 100%;
        height: 20rem;
        opacity: 0.95;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      &__avatar-container {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        position: absolute;
        bottom: 3.5rem;
        right: 2.5rem;
        overflow: hidden;
        @media (max-width: 550px) {
          width: 4rem;
          height: 4rem;
          bottom: 1rem;
          right: 0.8rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &--ratings {
        position: absolute;
        bottom: 6.9rem;
        left: 3rem;
        text-shadow: 1px 2px 2px black;
        @media (max-width: 550px) {
          bottom: 4.3rem;
          left: 1rem;
        }
      }

      &--name {
        position: absolute;
        bottom: 3.5rem;
        left: 3rem;
        font-size: 2.5rem;
        font-weight: 600;
        text-shadow: 1px 2px 2px black;
        color: white;
        @media (max-width: 550px) {
          bottom: 1rem;
          left: 1rem;
        }
      }

      &__location {
        position: absolute;
        bottom: 2.8rem;
        left: 3rem;
        font-style: italic;
        font-size: 0.9rem;
        text-transform: uppercase;
        text-shadow: 1px 1px 0px black;
        color: white;
        @media (max-width: 550px) {
          bottom: 0.4rem;
          left: 1rem;
        }

        &--icon {
          vertical-align: -2px;
        }
      }
    }
  }
}

/* ******** SCROLL BAR STYLE ***
:hover {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 4px; // Remove scroll bar space 
  background: transparent; // Optional: just make scroll bar invisible 
}
// Optional: show position indicator in black in case width is > 0 
::-webkit-scrollbar-thumb {
  background: #00000093;
}
*** */
