.find-farmer {
  &__header {
    text-align: center;
    margin: 5rem 0 2rem;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    color: #1e5b45;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
