.stock {
  //border: 1px solid red;
  margin-top: 8vh;
  width: 96vw;
  height: 100%;
  min-height: 94vh;
  margin-left: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;

  &__farmer-products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  h2 {
    text-transform: uppercase;
  }


  &-overview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #666;
    margin-top: 10rem;
    position: relative;

    &__header{
      height: 10rem;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      background-color: #f0f0f0;
      position: fixed;
      z-index: 1000;
      
    }
  
    &__plus {
      margin: 1rem;
      font-size:2rem;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }


    @media (max-width: 800px) {
      width: 100%;
    }

    &--header {
      margin: 1vw;
    }

    &--products {
      width: 90vw;
      height: 75vh;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }
}








/*Resize the wrap to see the search bar change!*/
.stock-search-wrapper{
  width: 30%;

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 100%;
    height: 100%;
    border: 2px solid #999;
    border-right: none;
    padding: 7px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    
  }

  .searchTerm:focus{
    color: #999;
  }

  .searchButton {
    width: 40px;
    border: 1px solid #999;
    background: #999;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;

  }
}


.add-product__modal {
  width: 30vw;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #f0f0f0;
  display: flex;
  padding: 20px;
  @media only screen and (max-width: 900px) {
    width: 90vw;
    top: 20vh;
    left: 5vw;
    right: 10vw;
    bottom: 20vh;
  }
  @media only screen and (max-width: 500px) {
    width: 90vw;
    height: 90vh;
    top: 5vh;
    left: 5vw;
    right: 10vw;
    bottom: 5vh;
    flex-direction: column;
  }
  outline: none;

  &--overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(7, 6, 6, 0.925);
    border: none;
    z-index: 9999;
  }
}
