.stock {
  padding-top: 8vh;
  min-height: 100vh;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;

  h2 {
    margin: 1rem 0;
    text-transform: uppercase;
    @media (max-width: 650px) {
      font-size: 1.4rem;
      margin: 0;
      color: white;
    }
  }

  &__farmer-products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &-overview {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__header {
      height: 10rem;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      color: var(--header);
      background-color: #fff;
      position: fixed;
      box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.1);
    }

    &__plus {
      margin: 1rem;
      font-size: 2rem;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}

.add-product__modal {
  width: 35rem;
  padding: 1.5rem;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  background-color: #f0f0f0;
  @media (max-width: 650px) {
    width: 20rem;
  }

  &--overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(7, 6, 6, 0.925);
    border: none;
    z-index: 9999;
  }
}

/*Resize the wrap to see the search bar change!*/
.stock-search-wrapper {
  width: 22rem;
  @media (max-width: 650px) {
    width: 15rem;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 100%;
    height: 100%;
    border: 1px solid var(--header);
    border-right: none;
    padding: 7px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--header);
  }

  .searchTerm:focus {
    color: var(--header);
    border: 1px solid var(--header);
  }

  .searchButton {
    width: 2.4rem;
    border: 1px solid var(--header);
    background: var(--header);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
  }
}
