/**
 *Main containers styles rules
**/

.public-profile {
  &__wrapper {
    margin-top: 12vh;
    background-color: var(--white);
    
    /* Wrapper if the store is open */
    &__store-open {
      width: 80vw;
      margin: 0 auto;
      border: var(--border-wrapper);
    }

    /* Styles rules if the store is closed*/ 
    &__store-closed {
      height: 68vh;
      background-color: var(--white);;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;

      h3 {
        color: var(--secondary);
        font-size: 2rem;
      }
    }
  }
}
