.public-profile__wrapper {
  //border: 1px solid red;
  margin-top: 8vh;
  background-color: rgba(121, 147, 8, .4);

  &__intern {
    width: 80vw;
    margin: 0 auto;
    padding-top: 3rem;
  
  }
}
