/**
 *Main containers styles rules
**/

/**
  *Define colors for the farmer public profile
*/
:root {
  --primary: #405C45;
  --primary-green: #405C45;
  --primary-red: #A6382E;
  --secondary: #F0F0F0;
  --shadow-white: #fff;
  --shadow-gray: #f0f0f0;

  /* borders */
  --border-color: rgba(0, 0, 0, 0.1);
  --border-wrapper: 1px solid var(--border-color);

  /* Background color for sections*/
  --section: #f9f9f9;
}

//layout themes
.green-mode {
  --backGroundColor: var(--primary-green);
}

.red-mode {
  --backGroundColor: var(--primary-red);

}

.public-profile {
  &__wrapper {
    margin-top: 12vh;
    background-color: var(--white);
    
    /* Wrapper if the store is open */
    &__store-open {
      width: 80vw;
      margin: 0 auto;
      border: var(--border-wrapper);
    }

    /* Styles rules if the store is closed*/ 
    &__store-closed {
      height: 68vh;
      background-color: var(--white);;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;

      h3 {
        color: var(--secondary);
        font-size: 2rem;
      }
    }
  }
}
