.settings__page__item__wrapper {
  position: fixed;
  top: 20%;
  left: 40%;
  @media (max-width: 850px) {
    position: unset;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__account {
    &--header {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
      color: var(--header);
    }
    &--sub {
      color: #666666;
      font-size: 1rem;
    }
  }
}

.settings__accounts {
  &__email {
    &--header {
      margin-bottom: 0.5rem;
    }
    &__input {
      width: 30rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgb(195, 195, 195);
      border-radius: 2px;
      background-color: #fff;
      color: #666;
      @media (max-width: 600px) {
        width: 90%;
      }
      div {
        padding: 0.8rem 0.5rem;
      }
      svg {
        color: #f75d37;
        font-size: 2rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
    }

    input[type='password'] {
      width: 30rem;
      padding: 0.8rem 0.5rem;
      font-size: 1rem;
      margin-bottom: 1rem;
      @media (max-width: 600px) {
        width: 90%;
      }
    }
  }
  &__button {
    margin: 0 auto;
  }
}

.modal__email {
  width: 30rem;
  height: 28rem;
  position: fixed;
  top: 30%;
  left: 40%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  @media (max-width: 850px) {
    width: 80vw;
    height: 28rem;
    left: 15%;
    top: 40%;
  }
}

.overlay__email {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(249, 249, 249, 0.7);
  background-color: rgba(7, 6, 6, 0.925);
  z-index: 9999;
}

.a {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  svg {
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.b {
  margin-top: 2rem;
  height: 45%;

  input[type='password'],
  input[type='email'] {
    width: 27rem;
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    @media (max-width: 850px) {
      width: 100%;
    }
  }
}

.c {
  display: flex;
  justify-content: center;
}
