@import '../../scss/variables';

.farmer__authentication {
    /* grid columns and row*/
    grid-column: 1 / 10;
    grid-row: 1;

    /* position */
    display: flex;
    justify-content: space-evenly;
    padding-top: 20vh;
    align-items: flex-start;
    background-color: $pagesBackgroundColor;
    font-weight: 600;

    // border-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }