@import '../../scss/variables';

//no idea where this one comes from , commented out until we figure it out (^_^)
// .shop__internal__content {
//   border: 1px solid transparent;
//   height: fit-content;
// }
.shop__navbar {
  position: fixed;
  top: 0;
}
.cart-modal {
  height: 100rem;
  width: 30rem;
  position: fixed;
  right: 0;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2vw;
  @media (min-width: 450px) and(max-width: 1200px) {
    width: 30rem;
  }
  @media (max-width: 450px) {
    width: 100%;
  }
  .cart-edit {
    margin-top: 2rem;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    @media (max-width: 800px) {
      height: 80vh;
    }
  }

  .cart-list {
    margin: 2vh 2vw;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      &:first-child {
        display: none;
      }
    }
    .modal-li {
      width: 22rem;
      @media (max-width: 800px) {
        height: 7rem;
        width: 25rem;
      }
      @media (max-width: 450px) {
        height: 7rem;
        width: 21rem;
      }
      & > * {
        &:first-child {
          min-width: 6rem;
          display: flex;
        }
        &:nth-child(2) {
          display: flex;
          justify-content: center;
        }
      }

      .decrease-button,
      .increase-button {
        display: none;
      }
    }

    .empty-cart {
      width: 20vw;
      @media (max-width: 800px) {
        width: 20rem;
      }
    }
  }
  .total-price {
    width: 28rem;
    text-align: right;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    @media (max-width: 800px) {
      margin-right: 5vw;
    }
  }
  .custom-button {
    &:nth-child(4) {
      margin-left: 10rem;
      margin-top: 5vh;
    }
  }
  [type='submit'] {
    background-color: white;
    border: 1px solid #f75d37;
    color: #f75d37;
    margin-left: 2.5vw;
    width: 20rem;
    &:hover {
      background-color: #f75d37;
      color: white;
      border: 1px solid white;
    }
    &:disabled {
      appearance: button;
      background: #eeeeee;
      border: none;
      color: rgba(19, 1, 1, 0.3);
      cursor: not-allowed;
    }
  }
  .cart-title {
    display: none;
  }
}
.cart-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 9999;
}
