@import '../../scss/variables';

.header{
    height: 40vh;
}

.featured-products {
    border: 1px solid red;
    height: 30vh;
}

.featured-farmers{
    height: 30vh;
    h2 {
        text-align: center;
    }
    &__list{
        border: 1px solid red;
        display: flex;
        height: 100%;
        justify-content: space-around;
    }
}