@import '../../scss/variables';

.story {
  // ====== First Row ===
  .first-row {
    display: flex;
    justify-content: space-evenly;
    background: #eee;
    @media (max-width: 900px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__img-container {
      margin: 3vh 0;
      width: 42vw;
      @media (max-width: 900px) {
        width: 80vw;
      }

      &--img {
        width: 100%;
      }
    }

    &__description-container {
      margin: 3vh 0;
      width: 38vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--header {
        font-size: $font-size__header__medium;
        font-weight: $font-weight__bold;
        @media (max-width: 1050px) {
          font-size: $font-size__header__small;
        }
        @media (max-width: 900px) {
          text-align: center;
        }
      }

      &--text {
        margin: 2vh 0;
        @media (max-width: 1050px) {
          margin: 1vh 0;
          font-size: $font-size__small;
        }
        @media (max-width: 900px) {
          text-align: center;
        }
      }
    }
  }

  // ========= Second Row ===
  .second-row {
    display: flex;
    justify-content: space-evenly;
    padding: 5vh 0;
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }

    &__left-container {
      width: 50vw;
      padding: 2vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 900px) {
        width: 80vw;
      }

      &--icon {
        padding: 0 3vh 0 13vh;
        font-size: 2rem;
        @media (max-width: 900px) {
          padding: 0;
          margin: 0 auto;
        }
      }

      &--header {
        padding: 0 3vh 0 13vh;
        font-size: $font-size__header__medium;
        margin: 2vh 0;
        @media (max-width: 1100px) {
          font-size: $font-size__header__small;
        }
        @media (max-width: 900px) {
          padding: 0;
          text-align: center;
        }
      }

      &--text {
        padding: 0 3vh 0 13vh;
        @media (max-width: 1100px) {
          font-size: $font-size__small;
        }
        @media (max-width: 900px) {
          padding: 0;
          text-align: center;
          margin-bottom: 4vh;
        }
      }
    }

    &__right-container {
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 900px) {
        width: 100%;
      }

      &__img-container {
        width: 26vw;
        margin-bottom: 1vh;
        @media (max-width: 900px) {
          width: 80vw;
          margin: 0 auto;
        }

        &--img {
          width: 100%;
        }
      }
    }
  }

  // ========= Third Row ===
  .third-row {
    &__header {
      text-align: center;
      margin: 2vh 0;
      font-size: $font-size__header__large;
      font-weight: $font-weight__bold;
      @media (max-width: 800px) {
        font-size: $font-size__header__small;
      }
    }

    &__img-container {
      width: 58vw;
      margin: 0 auto;
      padding: 1vh;
      display: flex;
      justify-content: center;
      background: #eee;

      &--img {
        margin: 0.5vh;
        width: 18vw;
      }
    }
  }
}
