.upload-photo {
  //border: 1px solid green;
  height: 100%;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 0 1rem;

    h3 {
      color: #333;
    }

    svg {
      font-size: 2rem;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.2);
        opacity: 0.7;
        color: red;
        cursor: pointer;
      }
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .display__preview {
    height: 80%;
    position: relative;


    .crop-container {
      background: #333;
      position: absolute;
      top: 60px;
      left: 0px;
      right: 0px;
      bottom: 60px;
    }
    
    .controls {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 50%;
      transform: translateX(-50%);
      height: 60px;
      display: flex;
      align-items: center;
    }
    
    .slider {
      padding: 22px 0px;
    }
    



  }

  input[type='file']{
    //display: none;
  }

  .custom-file-upload {
    //border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
}

.file__uploader {
  //border: 1px solid red;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 0.5rem 1rem;

  div:last-of-type {
    //border: 1px solid red;
    width: 25%;
    display: flex;
    justify-content: space-around;
  }
}

.file-uploader__modal {
  width: 45vw;
  height: 75vh;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  //for ipad width of the modal should be at least 50% of the view port
  @media (max-width: 800px) {
    width: 70vw;
  }
  //here the mobile v. must also be added
}

.file-uploader__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(73, 73, 73, 0.8);
  z-index: 9999;
}