.sign-in__animation {
  width: 55%;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  background-image: url(/images/pattern1.jpg);
  @media only screen and (max-width: 500px) {
    width: 90vw;
    height: 20vh;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
  }
}
.sign-in__form-container {
  width: 45%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .not-authenticated {
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .alert-error {
    height: 1rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    h5 {
      color: #d8000c;
      font-weight: 300;
      text-align: center;
      font-size: 1.3rem;
      padding: 0.5rem 0;
      width: 100%;
    }
  }
  @media only screen and (max-width: 500px) {
    width: 90vw;
    height: 60vh;
    margin-top: 2rem;
    form {
      .group {
        margin: 3rem 0;
      }
    }
  }
}
