.wrapper {
  // I don't understand why, but width of navbar fucked up around 500px (don't take the whole screen)
  height: 6vh;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 2;

  .navbar {
    height: 100%;
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;


    ul {
      list-style: none;

      li a {
        color: #f75d37;
        font-size: 1.6rem;
      }
    }

    .left ul,
    .right ul li a {
      display: flex;
      align-items: center;
      height: 3rem;
    }

    .left ul li,
    .right img {
      margin: 0 1vh;
    }

    .right ul li {
      position: relative;

      img {
        height: 3.5vh;
        width: 3.5vh;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .right ul li .dropdown {
      position: absolute;
      top: 4rem;
      right: 0;
      background: rgba(255, 255, 255, 0.842);
      padding: 1vh 2vh;
      border-radius: 5px;
      display: none;

    }

    .right {
      ul {
        div {
          li:hover {
            background-color: #f9f9f9;
          }
        }
      }
    }

    .right ul li .dropdown:before {
      content: '';
      position: absolute;
      top: -1.4rem;
      left: 80%;
      transform: translateX(-50%);
      border: 0.8rem solid;
      border-color: transparent transparent #fff transparent;
    }

    .right ul li.active .dropdown {
      display: block;
    }
  }
}

.dropdown__link {
  padding-left: 1vh;
}

.logout-btn {
  padding: 0.5vh 1.5vh;
  margin-left: 1vh;
}
