@import '../../scss/variables';

footer {
  height: 20vh;
  margin: 2vh 3vw;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .placeholder {
    width: 13rem;
    height: fit-content;
    margin-right: 10vw;

    p {
      margin-bottom: 1vh;
      color: var(--primary-black);

      &:first-of-type {
        margin-bottom: 3vh;
        font-weight: bold;
      }
    }
  }
}
