.farmer-public {
  &__header {
    height: clamp(15rem, 40vw, 25rem);
    position: relative;

    &__cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 1050px) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &__avatar {
      width: clamp(6rem, 16vw, 12rem);
      height: clamp(6rem, 16vw, 12rem);
      position: absolute;
      left: clamp(0.8rem, 2vw, 1.6rem);
      bottom: clamp(-3.4rem, -9vw, -1.8rem);
      box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      overflow: hidden;
      z-index: 1;
      @media (max-width: 750px) {
        bottom: -2.2rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
