.farmer-public {
  &__header {
    height: 40vh;
    position: relative;

    &__cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__avatar {
      position: absolute;
      left: 2.5vh;
      top: 25vh;
      backface-visibility: hidden;
      transform: translateZ(0);
      width: 250px;
      height: 250px;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 1050px) {
  .farmer-public-store__avatar {
    margin: 0 auto;
  }
}
