.public-farmer {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  //border: 1px solid red;

  &__main__right {
    width: 20%;
    overflow-y: scroll;
    //border: 1px solid red;

    .shiiit {
      position: absolute;
      width: 20%;
      z-index: 2;
      background-color: #f0f0f0;
      //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }

    h2 {
      color: #3c6142;
      font-weight: 300;
      padding: 1rem;
      text-align: center;
    }

    hr {
      margin: 0 auto;
      width: 100%;
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .shit2 {
      //border: 1px solid green;
      margin-top: 5rem;
    }
    .new-product {
      display: flex;
      align-items: center;
      flex-direction: column;
      //border: 1px solid red;
      margin: 0 auto;
      margin-bottom: 5rem;

      &__img {
        //border: 1px solid green;
        margin: 1rem 0;
        width: 10rem;
        height: 10rem;
      }

      img {
        height: auto;
        width: 100%;
        object-fit: cover;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }
  &__aside {
    height: 100%;
    width: 80%;
    display: flex;
    //border: 1px solid red;

    &__main {
      height: 100%;
      width: 70%;
      
    }

    &__infos {
      width: 30%;
      height: 100%;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding: 8rem 0;
      //border: 1px solid red;

      &__avatar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 30%;
        padding: 0 2rem;

        h2 {
          font-size: 2.2rem;
          color: #405c45;
          font-weight: 300;
        }
        h3 {
          margin-top: 3rem;
          color: #3c6142;
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      &__data {
        height: 60%;
        padding: 2rem;

        h2 {
          color: #3c6142;
          font-weight: 300;
        }
      }
    }
  }

  &__main {
    &__featured {
      //border: 1px solid red;
      height: 60%;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);

      h2 {
        background-color: #f0f0f0;
        color: #3c6142;
        font-weight: 300;
        padding: 1rem;
      }

      p {
        margin-top: 1rem;
        padding: 0 1rem;
      }
    }

    &__reviews {
      //height: 60%;
      width: 100%;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      height: 40%;
    }
  }

  &__rate {
    margin: 2vh 0 5vh 5vh;

    &--stars {
      margin: 1vh 0;
    }
  }

  &__public {
    margin-top: 8vh;
    width: 100%;
    background: #eee;

    &--header {
      text-align: center;
      margin: 1vh;
    }

    &__information {
      //border: 1px solid red;
      display: flex;

      @media (max-width: 1050px) {
        flex-direction: column;
      }

      &--avatar {
        margin: 3vh;

        @media (max-width: 1050px) {
          margin: 0 auto;
        }
      }

      &--biography {
        margin: 1vh;
        padding: 2vh;
        width: 70vw;
        background: #f9f9f9;

        @media (max-width: 1050px) {
          margin: 2vh auto;
          width: 80vw;
        }
      }
    }
  }

  .avatar-img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
  }

  .gallery-img {
    width: 100%;
  }
}

.public-farmer__main__right {
  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in black in case width is > 0 */
  &::-webkit-scrollbar-thumb {
    background: #9b9b9b93;
  }
}
