.shop-overview {
  width: 100%;
  padding-top: 8vh;

  &__banner-container {
    width: 100%;
    height: 55vh;
    position: relative;
    &--img {
      width: 100%;
      height: 55vh;
      opacity: 0.9;
      object-fit: cover;
    }

    &--header {
      text-align: center;
      font-size: 3.8rem;
      font-weight: 300;
      color: white;
      text-shadow: 2px 2px black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (max-width: 1050px) {
        font-size: 2.5rem;
      }
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--header {
      margin: 4vh 0 2vh;
      font-size: 2rem;
      @media (max-width: 1050px) {
        font-size: 1.6rem;
      }
      @media (max-width: 550px) {
        margin: 2vh 0 0;
      }
    }

    &--text {
      width: 38rem;
      font-size: 1.1rem;
      margin: 2vh 0 8vh;
      text-align: center;
      @media (max-width: 1050px) {
        font-size: 1rem;
        width: 30rem;
      }
      @media (max-width: 550px) {
        width: 20rem;
      }
    }
  }
}
