.profile-admin {
  width: 96vw;
  height: auto;
  display: flex;
  margin-left: 4vw;
  justify-content: space-between;
  margin-top: 6vh;

  @media (max-width: 1050px) {
    flex-direction: column;
    height: 100%;
  }

  &__profile-container {
    width: 70%;
    background: #f9f9f9;

    @media (max-width: 1050px) {
      height: 100%;
      width: 100%;
    }

    &--header {
      text-align: center;
      letter-spacing: 0.6px;
      margin: 1.6rem;
      color: #181818;
    }

    &__information {
      display: flex;

      @media (max-width: 1050px) {
        flex-direction: column;
      }

      &__avatar {
        margin: 0 3vh;
        position: relative;
        cursor: pointer;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform 0.25s ease-out;
        font-weight: normal;
        width: 20rem;
        height: 20rem;
        //border: 1px solid red;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: filter 0.5s ease-in-out;
          border-radius: 50%;

          &:hover {
            filter: brightness(20%);
          }
        }

        div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 0.8rem;
          color: #fff;
          z-index: 5;
          width: 65%;
          display: flex;
          align-items: center;
          pointer-events: none;
          justify-content: space-around;

          li {
            width: auto;
            display: flex;
            align-items: center;
            span {
              margin-left: 0.6rem;
            }
          }
        }

        @media (max-width: 1050px) {
          margin: 0 auto;
        }
      }

      &--biography {
        width: 70%;
        background: #f1f0f0;
        margin-right: 2rem;
        padding: 1rem;
        border-radius: 2px;

        p {
          margin-top: 1rem;
          line-height: 1.4;
        }

        @media (max-width: 1050px) {
        }
      }
    }

    &__gallery {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem;

      @media (max-width: 1050px) {
        flex-direction: column;
      }

      &--img {
        width: 20vw;

        @media (max-width: 1050px) {
          width: 40vw;
        }
      }
    }
  }

  .gallery-img {
    width: 100%;
  }
}

.upload__photo {
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  hr {
    background-color: rgba(102, 102, 102, 0.2);
  }

  input[type='file'] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
}
