.profile-admin {
  width: 96vw;
  height: auto;
  display: flex;
  margin-left: 4vw;
  justify-content: space-between;
  margin-top: 6vh;

  @media (max-width: 1050px) {
    flex-direction: column;
    height: 100%;
  }

  &__profile-container {
    width: 70%;
    background: #f9f9f9;

    @media (max-width: 1050px) {
      height: 100%;
      width: 100%;
    }

    &--header {
      text-align: center;
      margin: 1vh;
    }

    &__information {
      display: flex;

      @media (max-width: 1050px) {
        flex-direction: column;
      }

      &--avatar {
        margin: 3vh;

        @media (max-width: 1050px) {
          margin: 0 auto;
        }
      }

      &--biography {
        margin: 1vh;
        padding: 2vh;
        background: #777;

        @media (max-width: 1050px) {
          margin: 2vh auto;
          width: 80vw;
        }
      }
    }

    &__gallery {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media (max-width: 1050px) {
        flex-direction: column;
      }

      &--img {
        width: 20vw;

        @media (max-width: 1050px) {
          width: 40vw;
        }
      }
    }
  }

  .avatar-img {
    width: 15vw;
    height: 15vw;
    min-height: 10rem;
    min-width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .gallery-img {
    width: 100%;
  }
}
