.public-farmer {
  height: 47.5rem;
  width: 100%;
  position: relative;
  display: flex;

  /* New Products Menu*/
  &__main__right {
    width: 20%;
    overflow-y: scroll;

    &__header {
      position: absolute;
      width: 20%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      background-color: var(--header);
      border-bottom-right-radius: 8px;
      @media (max-width: 1050px) {
        border-bottom-right-radius: 0;
      }
      h2 {
        padding: 1rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: var(--text-header);
        @media (max-width: 1260px) {
          padding: 0.5rem;
          font-size: 1.2rem;
        }
      }
    }

    &__container {
      padding-top: 4rem;
      border-left: 1px solid var(--border-color);
      &__empty-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        P {
          margin-top: 2rem;
          color: var(--text-body);
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }
  }

  &__aside {
    width: 80%;
    display: flex;
    &__main {
      width: 80%;
    }
    &__infos {
      width: 18rem;
      &__avatar {
        height: 14rem;

        &__a {
          height: 50%;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          background-color: var(--header);
          @media (max-width: 1050px) {
            border-bottom-left-radius: 0;
          }
        }

        &__b {
          height: 7rem;
          padding: 1rem 2rem;
          border-right: 1px solid var(--border-color);
          P {
            color: var(--text-body);
          }
        }
        h2 {
          font-size: 2.2rem;
          color: var(--header);
          font-weight: 500;
        }
        h3 {
          margin-top: 2rem;
          color: var(--header);
          font-weight: 500;
          text-transform: uppercase;
        }
      }

      &__paragraph {
        color: var(--text-body);
      }

      &__data {
        height: auto;
        padding: 4rem 2rem 1rem 2rem;
        border-bottom: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        h2 {
          color: var(--text-header);
          font-weight: 500;
        }
      }

      &__expertise {
        padding: 1rem;
        border-right: 1px solid var(--border-color);
        h3 {
          color: var(--header);
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3rem 0.5rem;
            font-size: 0.9rem;
            margin: 0.5rem 0.5rem 0.5rem 0;
            background: var(--shadow-gray);
            border-radius: 5px;
            color: var(--text-body);
            &:hover {
              opacity: 0.5;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__main {
    &__featured {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      &--header {
        height: 4rem;
        background-color: var(--header);
        color: var(--text-header);
        font-weight: 500;
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        display: flex;
        align-items: center;
        @media (max-width: 1260px) {
          padding: 0.5rem;
          font-size: 1.2rem;
        }
      }
      &__text-container {
        p {
          border-top-left-radius: 8px;
          margin-top: 1rem;
          padding: 0 2rem;
          color: var(--text-body);
        }
        p:first-of-type {
          margin-top: 2rem;
          padding: 0 2rem;
        }
      }
    }

    &__reviews {
      h2 {
        // background-color: var(--header);
        color: var(--header);
        font-weight: 500;
        padding: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1px;
      }
      div {
        color: var(--text-body);
        p {
          font-size: 1rem;
          padding: 2rem;
        }
      }
      .abcde {
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        p {
          font-size: 1rem;
          color: var(--text-body);
          span {
            font-size: 0.8rem;
          }
        }

        .carousel-dots {
          position: absolute;
          right: +5%;
          text-align: center;
        }

        .carousel-dots .carousel-dot {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: var(--text-body);
          opacity: 0.5;
          margin-right: 10px;
        }
      }
    }
  }

  &__rate {
    margin: 2vh 0 5vh 5vh;

    &--stars {
      margin: 1vh 0;
    }
  }
}

.public-farmer__main__right {
  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in black in case width is > 0 */
  &::-webkit-scrollbar-thumb {
    background: #9b9b9b93;
  }
}
