.public-farmer {
  height: 47.5rem;
  position: relative;
  display: flex;
  overflow: hidden;
  @media (max-width: 750px) {
    flex-direction: column;
  }

  /* new product scroll bar */
  .public-farmer__main__right {
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #9b9b9b93;
    }
  }

  // ======== NEW PRODUCTS (right) ===
  &__main__right {
    min-width: 12rem;
    overflow-y: scroll;
    @media (max-width: 750px) {
      display: none;
    }
    &__header {
      position: absolute;
      width: 12rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      background-color: var(--header);
      border-bottom-right-radius: 8px;
      @media (max-width: 1050px) {
        border-bottom-right-radius: 0;
      }
      h2 {
        padding: 0.3rem;
        font-weight: 500;
        font-size: 1.4rem;
        text-align: center;
        text-transform: uppercase;
        color: var(--text-header);
      }
    }

    &__container {
      padding-top: 4rem;
      border-left: 1px solid var(--border-color);
      &__empty-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        P {
          margin-top: 2rem;
          color: var(--text-body);
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }
  }

  // ======== ASIDE (left) ===
  &__aside {
    display: flex;
    &__infos {
      width: 15rem;
      @media (max-width: 750px) {
        width: 100%;
      }
      &__avatar {
        height: 14rem;
        @media (max-width: 750px) {
          height: unset;
        }
        &__banner {
          height: 50%;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          background-color: var(--header);
          @media (max-width: 1050px) {
            border-bottom-left-radius: 0;
          }
          @media (max-width: 750px) {
            height: 3.5rem;
          }
        }
        &__description {
          height: 7rem;
          padding: 1rem;
          border-right: 1px solid var(--border-color);
          @media (max-width: 750px) {
            height: 0rem;
            padding: 0 1rem;
            position: relative;
          }
          &--name {
            font-size: 2.2rem;
            color: var(--header);
            font-weight: 500;
            @media (max-width: 750px) {
              font-size: 1.5rem;
            }
          }
          &--rate {
            @media (max-width: 750px) {
              font-size: 0.7rem;
              position: absolute;
              top: 1.6rem;
              left: 1rem;
            }
          }
          &--location-header {
            margin-top: 1.5rem;
            color: var(--header);
            font-weight: 500;
            text-transform: uppercase;
            @media (max-width: 750px) {
              margin-top: 0;
              font-size: 0.8rem;
              position: absolute;
              top: 0.3rem;
              right: 1rem;
            }
          }
          &--location {
            @media (max-width: 750px) {
              font-size: 0.9rem;
              position: absolute;
              top: 1.2rem;
              right: 1rem;
            }
          }
        }
      }
      &__data {
        padding: 4rem 1rem 1rem 1rem;
        border-bottom: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        @media (max-width: 750px) {
          padding: 1.4rem;
        }
      }
      &__paragraph {
        @media (max-width: 750px) {
          display: none;
        }
      }
      &__expertise {
        padding: 2rem;
        border-right: 1px solid var(--border-color);
        @media (max-width: 750px) {
          display: none;
        }
        h3 {
          color: var(--header);
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;
            padding: 0 0.8rem;
            margin: 0.5rem 0.5rem 0.5rem 0;
            font-style: italic;
            border-radius: 5px;
            color: var(--header);
          }
        }
      }
    }
  }

  // ======== MAIN (center) ===
  &__main {
    &__featured {
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      @media (min-width: 1350px) {
        min-height: 25rem;
      }
      @media (max-width: 850px) {
        padding-bottom: 0.5rem;
      }
      @media (max-width: 750px) {
        padding-bottom: 0;
      }
      &__header {
        height: 4rem;
        background-color: var(--header);
        color: var(--text-header);
        font-weight: 500;
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        display: flex;
        align-items: center;
        @media (max-width: 850px) {
          padding: 0.5rem 1rem;
          margin: 0;
        }
        @media (max-width: 750px) {
          height: 2.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &__text-container {
        padding: 1rem 2rem;
        color: var(--text-body);
        font-size: 0.9rem;
        @media (min-width: 980px) {
          font-size: 1rem;
        }
        @media (max-width: 850px) {
          padding: 0.5rem 1rem;
        }
        @media (max-width: 750px) {
          padding: 0 1rem;
          text-align: center;
        }
        &--header {
          margin-top: 1rem;
          padding: 0 2rem;
          color: var(--header);
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.1px;
          @media (max-width: 850px) {
            margin-top: 0.3rem;
            padding: 0 1rem;
          }
          @media (max-width: 750px) {
            margin: 0.3rem 0;
            font-size: 1.1rem;
            padding: 0 1rem;
            text-align: center;
          }
        }
      }
    }
    &__reviews {
      padding: 0 2rem;
      @media (max-width: 980px) {
        font-size: 0.9rem;
      }
      @media (max-width: 850px) {
        padding: 0 1rem;
      }
      &--header {
        margin: 1rem 0;
        color: var(--header);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        @media (max-width: 850px) {
          margin: 0.5rem 0;
        }
        @media (max-width: 750px) {
          font-size: 1.1rem;
          text-align: center;
        }
      }
      &--author {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        position: relative;
        font-style: italic;
        font-weight: bold;
        color: var(--header);
        span {
          margin-left: 0.5rem;
          font-size: 0.9rem;
          font-style: italic;
        }
        .carousel-dots {
          position: absolute;
          right: +5%;
          text-align: center;
          @media (max-width: 820px) {
            right: -8%;
          }
          @media (max-width: 750px) {
            right: -2%;
          }
        }
        .carousel-dots .carousel-dot {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: var(--header);
          opacity: 0.8;
          margin-right: 10px;
        }
      }
    }
  }
}
