.public-farmer {
  display: flex;
  height: 80vh;
  width: 100%;
  background-color: #fff;
  position: relative;
  //border: 1px solid red;

  /* New Products Menu*/
  &__main__right {
    width: 20%;
    overflow-y: scroll;

    &__header {
      position: absolute;
      width: 20%;
      z-index: 2;
      background-color: var(--primary);
    }

    h2 {
      color: var(--secondary);
      font-weight: 300;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;
    }

    hr {
      margin: 0 auto;
      width: 100%;
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .shit2 {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 3.9rem;
    }
  }

  &__aside {
    height: 100%;
    width: 80%;
    display: flex;
    //border: 1px solid red;

    &__main {
      height: 100%;
      width: 75%;
    }

    &__infos {
      width: 25%;
      height: 100%;
      

      &__avatar {
        //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 30%;
        
        
        
        &__a{
          background-color:var(--primary);
          height: 50%;
          
          
          
        }

        &__b{
          //background-color: red;
          padding: 1rem 2rem;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          height: 50%;
          
        }

        h2 {
          font-size: 2.2rem;
          color: var(--primary);
          font-weight: 300;
        }
        h3 {
          margin-top: 2rem;
          color: var(--primary);
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      &__data {
        height: auto;
        padding: 4rem 2rem 1rem 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        

        h2 {
          color: var(--secondary);
          font-weight: 300;
        }
      }
      &__expertise {
        padding: 2rem;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        height: 37%;

        h3 {
          color: var(--primary);
          font-weight: 300;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3rem 0.5rem;
            font-size: 0.9rem;
            margin: 0.5rem 0.5rem 0.5rem 0;
            background: var(--shadow-gray);
            border-radius: 5px;

            &:hover {
              opacity: 0.5;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__main {
    &__featured {
      height: 45%;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      
      h2 {
        background-color: var(--primary);
        color: var(--secondary);
        font-weight: 300;
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1px;
      }

      p {
        margin-top: 1rem;
        padding: 0 2rem;
      }
      
    }
    
    &__reviews {
      width: 100%;
      height: 60%;

      h2 {
        background-color: var(--primary);
        color: var(--secondary);
        font-weight: 300;
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1px;
      }

      div {
        p {
          font-size: 1rem;
          padding: 2rem;
        }
      }
      .abcde {
        //border: 1px solid red;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        p {
          font-size: 1rem;
          span {
            font-size: 0.9rem;
          }
        }
        .carousel-dots {
          position: absolute;
          right: +5%;
          text-align: center;
        }

        .carousel-dots .carousel-dot {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: var(--primary);
          opacity: 0.5;
          margin-right: 10px;
        }
      }
    }
  }

  &__rate {
    margin: 2vh 0 5vh 5vh;

    &--stars {
      margin: 1vh 0;
    }
  }

  &__public {
    margin-top: 8vh;
    width: 100%;
    background: #eee;

    &--header {
      text-align: center;
      margin: 1vh;
    }

    &__information {
      //border: 1px solid red;
      display: flex;

      @media (max-width: 1050px) {
        flex-direction: column;
      }

      &--avatar {
        margin: 3vh;

        @media (max-width: 1050px) {
          margin: 0 auto;
        }
      }

      &--biography {
        margin: 1vh;
        padding: 2vh;
        width: 70vw;
        background: #f9f9f9;

        @media (max-width: 1050px) {
          margin: 2vh auto;
          width: 80vw;
        }
      }
    }
  }

  .avatar-img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
  }

  .gallery-img {
    width: 100%;
  }
}

.public-farmer__main__right {
  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in black in case width is > 0 */
  &::-webkit-scrollbar-thumb {
    background: #9b9b9b93;
  }
}
