.sign-up__animation {
  width: 55%;
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
  background-image: url(/images/pattern1.jpg);
  @media only screen and (max-width: 500px) {
    width: 90vw;
    height: 20vh;
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
  }
}
.sign-up__form-container {
  width: 45%;
  background-color: #e0b835;
  display: flex;
  justify-content: center;
  align-items: center;
  .sign-up__form {
    .group {
      margin: 2.5rem 0;
    }
    a {
      text-align: center;
      div {
        margin-bottom: 2rem;
      }
    }
  }
  @media only screen and (max-width: 500px) {
    width: 90vw;
    height: 70vh;

    .sign-up__form {
      .group {
        margin: 1.5rem 0;
      }
      a {
        text-align: center;
        div {
          margin-top: 2rem;
        }
      }
    }
  }
}
