.product-item {


  &__farmer-products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


    &__card {
      width: 11rem;
      height: 18rem;
      margin: 2vh 1vh;
      padding: 1vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
      background: white;
      border: 1px solid rgba(102, 102, 102, .2);

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      &__img-container {
        width: 8rem;
        height: 8rem;

        &--img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &--name {
        margin: 1vh;
        text-align: center;
      }

      &--type {
        margin: 1vh;
        font-style: italic;
      }

      &--description {
        margin: 1vh;
      }
    }
  }
}

.display__product__img__wrapper {
  width: 30rem;
  height: 30rem;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}