.farmer-profile__gallery {
  display: flex;
  flex-direction: column;
  background-color: #fff;

  h2 {
    text-align: center;
    padding: 1.5rem;
    color: #405c45;
    font-size: 2rem;
    background: #f9f9f9;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}
