.farmer-profile__gallery {
  display: flex;
  flex-direction: column;
  

  h2 {
    text-align: center;
    padding: 1.5rem;
    color: var(--text-header);
    font-size: 2rem;
    background: var(--header);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}
