.farmer-profile__gallery {
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    padding: 1.5rem;
    color: var(--secondary);
    font-size: 2rem;
    background: var(--primary);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}
