.how-it-works {
  height: fit-content;
  &__icons-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &--header {
      text-align: center;
      font-size: 2rem;
    }

    &__box-container {
      margin: 0 auto;
      width: 70vw;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      background: #eee;
      @media (max-width: 650px) {
        width: 100%;
      }

      &__card {
        width: 23vw;
        min-width: 20rem;
        height: 22vh;
        padding: 2vh;
        @media (max-width: 920px) {
          min-width: 23rem;
          &:not(:last-child) {
            border-bottom: 1px solid black;
          }
        }

        &--header {
          margin: 0.5rem 0;
        }

        &--text {
          @media (max-width: 600px) {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
