.how-it-works {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 750px) {
    margin-bottom: 10vh;
  }

  &__icons-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (max-width: 750px) {
      height: fit-content;
    }

    &--header {
      text-align: center;
      font-size: 2rem;
    }

    &__box-container {
      margin: 0 auto;
      width: 70vw;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      background: #eee;
      @media (max-width: 1060px) {
        width: 100%;
      }
      @media (max-width: 750px) {
        width: 85%;
      }

      &__card {
        width: 23rem;
        height: 22vh;
        padding: 2vh;
        @media (max-width: 750px) {
          width: fit-content;
          height: fit-content;
          // ---- Border Bottom ---
          &:not(:last-child) {
            border-bottom: 1px solid black;
          }
          // ---- Icons ---
          &--icon {
            height: 5vh;
            width: 10vw;
            svg {
              font-size: 80px;
              height: 3rem;
              width: 3rem;
            }
          }
        }

        &--header {
          margin: 0.5rem 0;
        }
        &--text {
          @media (max-width: 600px) {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
