.recipes {

  &__card {
    margin: 1vh;
    padding: 2vh;
    display: flex;
    background: #eee;
    border-radius: 2px;
    //box-shadow: 1px 2px 5px black;
    @media (max-width: 1050px) {
      flex-direction: column;
      align-items: center;
    }

    &__img-container {
      width: 40rem;
      height: 28rem;
      border-radius: 2px;
      overflow: hidden;
      @media (max-width: 1050px) {
        width: 60%;
        min-width: 15rem;
        height: auto;
      }
      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info-container {
      width: 55vw;
      padding: 2vh;

      &__name {
        text-transform: uppercase;
      }

      &__portion {
        font-style: italic;
      }

      &__ingredients {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &__list {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1vh;
          margin: 1vh 1vh 1vh 0;
          background: lightgreen;
          border-radius: 5px;
        }
      }
    }
  }
}

.recipes-section {
  background: #fff;

  h2 {
    text-align: center;
    padding: 2rem;
    color: #405c45;
    font-size: 2rem;
    background: #f9f9f9;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}