.recipes-section {

  p {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.6rem;
    color: var(--header);
  }

  h2 {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--header);
    color: var(--text-header);
    font-size: 2rem;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    text-transform: uppercase;
  }

  &__main-container {
    &__loader {
        width: 100%;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content:center;

        svg{
          font-size: 3rem;
          color: var(--header);
        }
    }
  }
}

.recipes {
  &__card {
    margin: 1vh;
    padding: 2vh;
    display: flex;
    border-radius: 2px;
    border: 1px solid var(--border-color);

    @media (max-width: 1050px) {
      flex-direction: column;
      align-items: center;
    }

    &__img-container {
      width: 40rem;
      height: 28rem;
      border-radius: 2px;
      overflow: hidden;
      @media (max-width: 1050px) {
        width: 60%;
        min-width: 15rem;
        height: auto;
      }
      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info-container {
      width: 55vw;
      padding-left: 1vw;


      &__name {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      &__portion {
        font-style: italic;
      }

      &__ingredients {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &__list {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1vh;
          margin: 1vh 1vh 1vh 0;
          background: var(--shadow-gray);
          border-radius: 5px;
        }
      }
    }
  }
}

