.recipes-section {
  p {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-body);
    font-weight: 300;
  }

  h2 {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--header);
    color: var(--text-header);
    font-size: 2rem;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    text-transform: uppercase;
  }

  &__main-container {
    &__loader {
      width: 100%;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 3rem;
        color: var(--header);
      }
    }
  }
}
