.add-product-wrapper {
  height: 100%;
  display: flex;
  align-items: center;

  &__close {
    position: absolute;
    top: 0.2rem;
    right: 0.6rem;
    font-size: 2rem;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(0.8);
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__left-section {
    background: #1e5b45;
    width: 40%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    @media (max-width: 580px) {
      width: 33%;
    }

    &__img-container {
      width: 18rem;
      min-height: 20rem;
      position: absolute;
      top: 6rem;
      left: 7rem;
      border-radius: 4px;
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
      background: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      @media (max-width: 950px) {
        width: 12rem;
        min-height: 15rem;
        top: 7rem;
        left: 2rem;
      }
      @media (max-width: 580px) {
        width: 6rem;
        min-height: 12rem;
        top: 9rem;
        left: 0.7rem;
      }
      &--img {
        transition: transform 2s;
        width: 100%;
        &:hover {
          transform: scale(1.1);
          cursor: zoom-in;
        }
      }
    }
  }

  &__right-section {
    height: 100%;
    width: 60%;
    padding: 0.5rem;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &--name {
      text-transform: uppercase;
      color: #1e5b45;
      font-size: 2.5rem;
      @media (max-width: 580px) {
        font-size: 1.5rem;
      }
    }

    &--type {
      font-size: 1.1rem;
      font-style: italic;
      transform: translate(10px, -15px);
      color: #1e5b45;
      text-transform: capitalize;
      @media (max-width: 580px) {
        font-size: 0.9rem;
        transform: translate(0px, -15px);
      }
    }

    &--description {
      font-size: 0.9rem;
      @media (max-width: 580px) {
        font-size: 0.8rem;
      }
    }

    &--price {
      margin: 0.5rem 0;
      font-size: 1.2rem;
      font-weight: bold;
      color: #1e5b45;
    }

    &__quantity {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: 1.3rem;
        margin: 0.9rem;
        color: #1e5b45;
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }

    &__adding {
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &--icon {
        margin-right: 0.4rem;
        vertical-align: -3px;
      }

      &--btn {
        width: 12rem;
        cursor: pointer;
        background: #1e5b45;
        color: #f9f9f9;
        border: none;
        outline: none;
        padding: 0.6rem 1.2rem;
        border-radius: 4px;
        transition: opacity 0.5 ease;
        &:hover {
          opacity: 0.9;
        }
      }
    }

    // &__success {
    //   border: 1px solid blue;
    //   height: 2rem;
    //   text-align: center;
    // }
  }
}
