.sign-in__animation {
  width: 55%;
  background-color: green;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  background-image: url(/images/pattern1.jpg);
}
.sign-in__form-container {
  width: 45%;
  background-color: #e0b835;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-align: center;
    div {
      margin-bottom: 2rem;
    }
  }
}
