.panel-profile__biography {
  display: flex;
  background-color: #fff;
  position: relative;
  @media (max-width: 1050px) {
    flex-direction: column;
  }

  &__info {
    font-weight: bold;
    padding: 9rem 0 0 5rem;
    width: 18.7rem;
    @media (max-width: 1050px) {
      margin: 5rem 0 1rem;
      padding: 1rem 0 0 4rem;
    }
    @media (max-width: 650px) {
      padding: 0 1.5rem 0;
      margin: 4rem 0 0 2rem;
    }
  }

  &__rate {
    position: absolute;
    top: 11rem;
    left: 5rem;
    @media (max-width: 1050px) {
      top: 5.9rem;
      left: 12rem;
    }
    @media (max-width: 650px) {
      font-size: 0.8rem;
      top: 4rem;
      left: 11rem;
    }
  }

  &__text {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 2rem;
    line-height: 1.5;
    @media (max-width: 1050px) {
      padding: 0 4rem 2rem;
    }
    @media (max-width: 650px) {
      padding: 0 1.5rem 2rem;
    }
  }
}
