.panel-profile {
  padding-top: calc(var(--nav-height) + var(--space-3));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  @media (max-width: 1050px) {
    padding-top: calc(var(--nav-height) + var(--space-2));
  }

  &__wrapper {
    margin: var(--space-4) 0;
    width: 75%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 12px 16px -1px rgba(0, 0, 0, 0.3);
    @media (max-width: 1050px) {
      width: 100%;
      padding-left: 0;
    }
  }

  hr {
    margin: 0 auto;
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
