.panel-profile {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  @media (max-width: 1050px) {
    padding-top: 6vh;
  }

  &__wrapper {
    margin: 2vh 0;
    width: 75%;
    height: 100%;
    background-color: #f9f9f9;
    @media (max-width: 1050px) {
      width: 100%;
      padding-left: 4rem;
    }
  }

  hr {
    margin: 0 auto;
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
