.sign-in {
  font-size: 1.6rem;
  //border: 1px solid red;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  span {
    color: #909090;
  }

  .title {
    margin: 20px 0;
  }
  @media only screen and (max-width: 1000px) {
    span {
      text-align: center;
    }
    .title {
      text-align: center;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
