// SHOPNAVBAR COMPONENT SCSS

.shop__navbar__right {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  svg{
    font-size:2rem;
  }
}
.shop__navbar {
  //border: 1px solid red;
  background-color: #f9f9f9;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  width: 100%;
  z-index: 100;
  position: fixed;
  a {
    // color: #1e5b45;
    font-weight: 600;
  }
  &__logo {
    margin-left: 5vw;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2.5rem;
    font-weight: 600;
    color: #1e5b45;
    //or
    // color: #f7b53a;
    transform: rotateZ(-9deg);
  }
  &__links {
    display: flex;
    justify-content: space-between;
  }
  &__account {
    list-style: none;
    width: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5vw;
    @media (max-width: 950px) {
      width: 4rem;
    }
    .fa-shopping-cart,
    .fa-user-circle {
      font-size: 1.3rem;
      // color: #1e5b45;
    }
    .total-quantity {
      color: #f7b53a;
      // width: 1.7rem;
      position: relative;
      bottom: 0.8rem;
      right: 1.5rem;
      // border: red 1px solid;
      // border-radius: 50px;
      // text-align: center;
      font-weight: bold;
      @media (max-width: 950px) {
        right: 0.7rem;
      }
    }
    &__login {
      color: #181818;
    }
  }
}

.fixed {
  opacity: 0.7;
}

.account-modal {
  height: 10vh;
  width: fit-content;
  position: fixed;
  top: 5vh;
  right: 3.5vw;
  border: none;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  z-index: 20000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation: drop-down 1s normal both;
  @media (max-width: 800px) {
    width: 30vw;
  }
  li {
    list-style: none;
    height: 3rem;
  }
  // transform: translateY(0);
  // transition: all 0.2s ease;
  /* Drop-down animation */
  @keyframes drop-down {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      top: 7vh;
      opacity: 1;
    }
  }
  @media (max-width: 550px) {
    width: fit-content;
  }
}
.account-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: transparent;
  z-index: 9999;
}

.add__product_wrapper {
  height: 100%;
  display: flex;

  .product__photo {
    //background-color: #f9f9f9;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //border: 1px solid red;

    &__quantity {
      //border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 2rem;
        margin: 1rem;
        color: #9c9c9c;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
        //background-color: rgba(12, 12, 12, .1);
      }
    }

    &--img {
      width: 100%;
      height: 60%;
      display: flex;

      justify-content: center;

      img {
        width: 80%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
      }
    }
  }

  .product__description {
    //border: 1px solid red;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__add {
      .button {
        background-color: #e0e0e0;
        border-radius: 5px;
        padding: 0.5rem;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
        svg {
          margin-right: 0.5rem;
        }
      }
      display: flex;
      justify-content: space-between;
      width: 60%;
    }
  }
}
