.farmer-profile__section-products {

  &__header {
    text-align: center;
    padding: 1.5rem;
    color: var(--text-header);
    font-size: 2rem;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--header);
    text-transform: uppercase;
  }

  &-farmer {
    &__has-products {
      &__filters {
        /* Diet filters */
        &__diet {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__search-bar {
          width: 30rem;
          margin: 0 auto;

          @media (max-width: 650px) {
            width: 15rem;
          }

          .search {
            width: 100%;
            position: relative;
            display: flex;
          }

          .searchTerm {
            width: 100%;
            height: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-right: none;
            padding: 7px;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: var(--header);
          }

          .searchTerm:focus {
            color: rgba(0, 0, 0, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.5);
          }

          .searchButton {
            width: 2.4rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background: var(--header);
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            pointer-events: none;
            font-size: 0.9rem;
          }
        }
      }

      hr {
        margin: 2rem auto;
        width: 100%;
        border: 0;
        height: 0;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }

      &__load-more {
        //border: 1px solid green;
        height: 10rem;
        display: flex;
        align-items: center;
      }
    }

    &__empty-store {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.absolute-center {
  margin: 0 auto;
}

button.button {
  box-sizing: border-box;
  display: inline-block;
  width: 8em;
  height: 2.25em;
  padding: 0.5em 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  color: var(--header);
  white-space: nowrap;
  line-height: 1.4;
  font-size: 1em;
  text-decoration: none;

  transition: width 0.1s ease, height 0.4s ease, border-width 0.4s ease, border-radius 0.4s ease, border-color 0.4s ease,
    padding 0.4s ease;

  &:focus {
    outline: none;
    border-color: #ddd;
  }
  &:hover {
    background: #fafafa;
    color: var(--text-header);
    background-color: var(--header);
    cursor: pointer;
  }

  &.loading {
    height: 24px;
    width: 24px;
    padding: 0;
    border-width: 2px;
    border-radius: 17px;
    border-color: #eee #eee #eee #999;
    background: #fff;
    font-size: 0;
    color: transparent;
    pointer-events: none;

    animation: spin 1.2s infinite linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
