// ======== COLORS ===
$color__black: #000000;
$color__white: #ffffff;

$color__primary: #14213d;
$color__secondary: #fca311;
$color__tertiary: #e5e5e5;

// ======== FONT SIZE ===
$font-size__extra-small: 0.62rem;
$font-size__small: 0.81rem;
$font-size__large: 1.18rem;
$font-size__extra-large: 1.4rem;

$font-size__header__small: 1.9rem;
$font-size__header__medium: 2.2rem;
$font-size__header__large: 3rem;

// ======== FONT WEIGHT ===
$font-weight__light: 300;
$font-weight__medium: 400;
$font-weight__bold: 700;

$pagesBackgroundColor: #fcfcfc;
