// ======== COLORS ===
$color__black: #000000;
$color__white: #ffffff;

$color__primary: #14213d;
$color__secondary: #fca311;
$color__tertiary: #e5e5e5;

// ======== FONT SIZE ===
$font-size__extra-small: 0.8rem;
$font-size__small: 0.9rem;
$font-size__medium: 1rem;
$font-size__large: 1.4rem;
$font-size__extra-large: 1.8rem;

$font-size__header__small: 2rem;
$font-size__header__medium: 2.8rem;
$font-size__header__large: 4rem;

// ======== FONT WEIGHT ===
$font-weight__light: 300;
$font-weight__medium: 400;
$font-weight__bold: 700;
