@import './variables';

/**
* Reset values
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%; //define the 1rem value = 10px
}

body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //considering using this color for background, less white
  // background-color: #fafbfd;
}

a {
  text-decoration: none;
  color: #181818;
}
