@import './variables';

/**
* Reset values
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%; //define the 1rem value = 10px
}

body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //considering using this color for background, less white
  // background-color: #fafbfd;
  scroll-behavior: smooth;
  ///this will hide the scroll bar
  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in orange in case width is > 0 */
  &::-webkit-scrollbar-thumb {
    background: #f75d37;
  }
}

a {
  text-decoration: none;
  color: #181818;
}
