.shop__internal__content__find-a-farmer{
  //border: 1px solid red;
}

.find-farmer {
  height: 100%;
  padding: 5vh;
  list-style: none;
  background: rgba(255, 192, 203, 0.596);

  &__header {
    text-align: center;
    padding: 2rem;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;

    &__item {
      width: 19vw;
      min-width: 20rem;
      height: 50vh;
      margin: 2vh;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      background: #eee;
      border-radius: 5px;
      position: relative;

      &__bg-image-container {
        width: 100%;
        

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
      }

      &__avatar-container {
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
        position: absolute;
        top: 21vh;
        left: 3vh;
        border: 1px solid white;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &--name {
        margin: 4vh 0 0 2vh;
        font-size: 1.3rem;
        color: black;
      }

      &__location {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--city {
          padding-left: 2vh;
          text-transform: uppercase;
        }

        &--country {
          padding-right: 2vh;
        }
      }

      &--description {
        padding: 0 2vh;
        font-size: 0.9rem;
      }
    }
  }
}